{% extends 'base.html' %}
{% block content %}
<form action="/getBrew" method="POST">
	{{ form.hidden_tag() }}
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.brewery.label() }}{{ form.brewery() }}<br>
    {{ form.submit() }}
</form>
<p>
	Example Breweries:
	</p>
	<ul>
		<li>Bell's Brewery, Inc</li>
		<li>Avondale Brewing Co</li>
    <li>Band of Brothers Brewing Company</li>
    <li>Trim Tab Brewing</li>
    <li>Cooper Landing Brewing Company, LLC.</li>
	</ul>
<div>

	<p>
		Example Non-existent Breweries:
		</p>
		<ul>
			<li>Chicken Nuggets</li>
			<li>Mcdonalds</li>
		</ul>
	<div>
	{% for x in get_flashed_messages() %}
	<b>Errors:</b><br><br>
	    {% for key in x %}
	        * <b>{{ key }}</b> - <i> {{ x[key][0] }}</i> <br>
	    {% endfor %}
	{% endfor %}
</div>
{% endblock %}
